@logo: url('./imgs/logo.png'); // 系统logo
@bg: #fafbff; // 全局背景

@color-title: #ffffff; // 系统标题色
// 页面文字色系
@color-white: #9ea2a7; // 基础白色 （如常用页面的黑色文字）
@color-grey: #b3b7bb; // 基础灰色
@color-font2: #666667; //
@color-light: #3793f0; // 高亮色
@color-black: #ffffff; // 基础黑（如主要页面文字相反的黑色）

// 页面背景色系
@header-bg: #3399ff; // 标题背景色

@background-primary: #049796; // 界面元素主要背景色
@background-secondary: #f0f8ff;
@background-white: rgba(68, 156, 153, 0.8); // 模态背景色
@background-white-secondary: rgba(25, 118, 115, 0.8); // 模态背景色
@background-dark: none; // 更加深的背景色

@border-radius-base: 2px; // 组件/浮层圆角
@border-color: #c7c7c7; // 边框色
@border-secondary: #dee5ea; // 次边框色

// 按钮主题色
@color-primary: #519fee; // 全局主色,link色
@color-info: #00a3a2; // 常规色
@color-success: #0ecdc5;
@color-hover: #fcc400; // 强调色
@color-warning: #ffa62e; // 警告色
@color-danger: #fb726a; // 错误色

@disabled-color: #b2bbc4; // 失效色
@color-text-placeholder: #c0c4cc; // 占位颜色

// workBench
@workBench-left-bg: #f0f8ff;
@workBench-left-sensorType-bg: #ffffff;
@workBench-left-sensorType-icon-bg: #f1f8ff;
@workBench-left-sensorType-hover-bg: #e5f3ff;
@workBench-left-sensorType-hover-icon-bg: #d2eaff;
@workBench-left-sensorType-count-bg: #d2eaff;
@workbench-left-sensortype-icon-color: #136cfb;
@workbench-left-sensortype-icon-hover-color: #136cfb;
@workBench-right-online: @color-success;
@workBench-right-offline: @color-danger;

// sensorTypeDetail
@sTypeDetail-bg1: #eef2f6;
@sTypeDetail-bg2: #f0f8ff;
@sTypeDetail-color1: @color-primary;

// sensorConfig
@sConfig-border-color: #ebeef5;
