@logo: url('./imgs/logo.png'); // 系统logo
@bg: url('./imgs/back.png'); // 全局背景
@contentBg: url('./imgs/content_back.png'); // 内容区域背景
// @headerBg: url('./imgs/head_back.png'); // 标题背景
@logo: url('./imgs/logo.png');
@color-title: #ccffff; // 系统标题色
// 页面文字色系
@color-white: #00ffff; // 主要色（如常用页面的黑色文字）
@color-grey: #339999; // 基础灰色
@color-font2: #72dfda; //
@color-light: #33ffcc; // 高亮色
@color-black: #17233d; // 主要反色（如主要页面文字相反的黑色）
// 页面背景色系
@header-bg: rgba(17, 78, 75, 0.54);

@background-primary: #049796; // 界面元素主要背景色
@background-secondary: #028c8730;
@background-white: rgba(68, 156, 153, 0.8); // 模态背景色
@background-white-secondary: rgba(25, 118, 115, 0.8);
@background-dark: rgba(0, 51, 51, 0.5); // 深的背景色
@background-black: #082f2e;

@border-radius-base: 2px; // 组件/浮层圆角
@border-color: #1f9a9f; // 边框色
@border-secondary: #0d4e41; // 次边框色

// 按钮主题色
@color-primary: #196c68; // 全局主色,link色
@color-info: #0a3d3b; // 常规色
@color-success: #06c794;
@color-hover: #fcc400; // 强调色
@color-warning: #84814e; // 警告色
@color-danger: #df6d70; // 错误色

@disabled-color: rgba(0, 0, 0, 0.25); // 失效色
@color-text-placeholder: #38c6c1; // 占位颜色

@content-table-bg: url('./imgs/table_back.png');
@content-margin-top: -30px;
@content-padding-top: 50px;
