html,
body {
    width: 100%;
    height: 100%;
    font-size: 14px;
    color: #fff;
}
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
@font-face {
    font-family: 'LED';
    src: url('fonts/led.woff') format('woff'), url('fonts/led.eot') format('truetype');
    font-weight: 400;
    font-display: 'auto';
    font-style: normal;
}
