.el-button--primary {
    background: #00ffff85;
    border-color: #00ffff85;
    color: #fff;
}
// .el-button--primary:focus,
.el-button--primary:hover {
    color: #0ff;
    background-color: transparent;
    border-color: #0ff;
}

.el-button--danger {
    background: #fc6868c7;
    border-color: #fc6868c7;
    color: #fff;
}
// .el-button--success:focus,
.el-button--success:hover {
    color: #0ff;
    background-color: transparent;
}
// .el-button--danger:focus,
.el-button--danger:hover {
    color: #fc6868;
    background-color: transparent;
    border-color: #fc6868;
}

// .el-button--warning:focus,
.el-button--warning:hover {
    color: #e6a23c;
    background-color: transparent;
}
// .el-button--info:focus,
.el-button--info:hover {
    color: #909399;
    background-color: transparent;
}

.el-button.is-disabled,
.el-button.is-disabled:focus,
.el-button.is-disabled:hover {
    color: #c0c4cc;
    cursor: not-allowed;
    background-image: none;
    background-color: #1b509f00;
    border-color: #c0c4cc;
    box-shadow: none;
}

// plain
.el-button--primary.is-plain {
    background: #00ffff;
    border-color: #00ffff;
    color: #003333;
}
.el-button--primary.is-plain:hover {
    .el-button--primary();
}
